@import url('https://fonts.googleapis.com/css?family=Lato');
body {
    position: relative;
    background: url('http://thecodeplayer.com/u/m/b1.png') no-repeat center center fixed;
    background-size: cover;
    min-width: 200px;
    min-height: 200px;
    color: #fff;
    font-family: Lato;
}
.navbar {
    background: rgba(0, 0, 0, 0.85);
}
.nav.navbar-nav.navbar-right li a {
    color: white;
}
p {
    padding-right: 15%;
    padding-left: 15%;
    font-size: 150%;
}
blockquote {
    margin: 2em 200px;
}
#about {
    padding-top: 350px;
    padding-bottom: 500px;
    height: auto;
    color: #fff;
    text-align: Center;
}
#design {
    padding-top: 250px;
    padding-bottom: 250px;
    padding-right: 15%;
    padding-left: 15%;
    height: auto;
    color: #fff;
    text-align: Center;
    background: linear-gradient(-45deg, rgba(238, 119, 82, 0.4), rgba(231, 60, 126, 0.4), rgba(35, 166, 213, 0.4), rgba(35, 213, 171, 0.4));
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
}
#contact {
    padding-top: 350px;
    padding-bottom: 350px;
    height: auto;
    color: #fff;
    text-align: Center;
}
@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}
@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}
@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}
.icons {
    text-align: center;
    max-width: 1366px;
    max-height: 768px;
}
.socialMediaSpan {
    border: 1px solid;
    border-color: rgba(10, 10, 10, 0);
    border-radius: 10%;
    color: #fff;
    width: 100px;
    height: 100px;
    text-align: center;
    padding-top: 15px;
    margin: 0px;
    -webkit-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
}
.facebookBtn:hover {
    color: rgba(59, 89, 152, 1);
}
.twitterBtn:hover {
    color: rgba(0, 171, 227, 1);
}
.linkedinBtn:hover {
    color: rgba(0, 148, 188, 1);
}
.instagramBtn:hover {
    color: rgba(223, 64, 113, 1);
}
.codepenBtn:hover {
    color: rgba(255, 255, 255, 0.4);
}
.card {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    height: 300px;
    margin: 1rem;
    position: relative;
    width: 300px;
}
.placeholder {
    color: grey;
    padding-top: 30%;
}
.card-1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}
.card-1:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}